<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.anilokcun.matchcards">
	
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<!-- Activity -->
		<activity
			android:name=".ui.splash.activity.SplashActivity"
			android:screenOrientation="portrait"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.onboard.activity.OnboardActivity"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".ui.main.activity.MainActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name="com.anilokcun.uwmediapicker.ui.activity.UwMediaPickerActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.NoActionBar" />
		
		<!-- Meta-Data-->
		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />
	</application>

</manifest>